@import "~bootstrap/scss/bootstrap";

.h-200{

    height: 200px;
}
.h-300{

    height: 300px;
}

.my-bg-dark-gray{

    background-color: darkgray;
}

.bg-offcanvas{

    background-color:#545454;
}

.login-container{

    width: 50%;
    background-color: darkgray;
    margin:0 auto;
}

.login-form{

    
    background-color: gray;
}

header{
    
    height: 15vh;
    background-color: darkgray;

}

.title{

    font-size: 60px;
}

.img-logo{

    height: 10vh;
}

main{

    height: 85vh;
    overflow-y: auto;
    background-image: url('https://media.douglas.it/medias/ZAxCp7pos-00700105-1-Facciata.jpg?context=bWFzdGVyfHBvaW50LW9mLXNlcnZpY2V8NjEyMjMwfGltYWdlL2pwZWd8YUdaa0wyZzFNQzh4TmpRNU5qazJORGd5T1RJeE5DOWFRWGhEY0Rkd2IzTmZNREEzTURBeE1EVmZNVjlHWVdOamFXRjBZUzVxY0djfDA0M2M3MjAwN2ZmY2E2N2UzMDBiMTkwYzFiZTJiYTU2ZmNjYzliNDg2ZjFhMzc0YTU1MzYwN2RkY2U5NGRkOWE') ;
    background-size: cover;
}

.my-card{

    background-color: darkgray;

}

.img-container{
    
    width: 200px;
    max-height: 300px;
    
}

/* Scrollbar generale */
::-webkit-scrollbar {
    width: 8px; /* Larghezza della scrollbar */
    height: 8px; /* Altezza per scrollbar orizzontale */
  }
  
  /* Sfondo della scrollbar (track) */
  ::-webkit-scrollbar-track {
    background: transparent; /* Sfondo trasparente */
  }
  
  /* La maniglia (thumb) */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Colore scuro con trasparenza */
    border-radius: 10px; /* Angoli arrotondati */
  }
  
  /* Effetto al passaggio del mouse */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Colore più scuro */
    cursor: pointer; /* Cambia il cursore */
  }
  
  /* Scrollbar nelle versioni moderne di Firefox */
  * {
    scrollbar-width: thin; /* Scrollbar sottile */
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* Thumb e sfondo */
  }
  



@media (max-width: 992px) {

    .login-container{

        width: 70%;
    }
}

@media (max-width: 768px) {

    .login-container{

        width: 100%;
    }
}

@media (max-width: 576px) {

    .title{

        display: none;
    }
    .my-card{

        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 20px 0;
        
    }

  }